<app-navbar></app-navbar>


<div class="container">
  <div class="row">
      <div class="col-md-4"><h5 >Guests</h5></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"> <span (click)='createGuest()' class="btn btn-primary pull-right clickable">Create account</span></div>
    </div>
    <hr/>
    <div class="row">
      <div class="offset-md-4 col-md-4 ">
        <input [(ngModel)]="this.filtro" class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Last Operation</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable" *ngFor="let invitado of invitados | filtroInvitados: filtro" (click)='editaInvitado(invitado.id)' >
                <th scope="row">{{invitado.nombre}}</th>
                <td>{{invitado.email | lowercase}}</td>
                <td>{{invitado.ultimaOperacion | date: 'shortDate' }}</td>
                <td *ngIf='invitado.estado===0'><span class="badge badge-primary">Invitation sent</span></td>
                <td *ngIf='invitado.estado===1'><span class="badge badge-success">Active</span></td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>


</div>

