<app-navbar></app-navbar>


<div class="container">
    <div class="card">

        <div class="card-header">
            Edit guest
        </div>
        <div class="card-body">
            <form>
              <div class="row">
                <div class="col">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input [(ngModel)]="this.invitado.nombre" type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input [(ngModel)]="this.invitado.email" disabled="true" type="email" class="form-control" name="email" placeholder="email">
                </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label for="status">Status</label>
                      <br>
                      <span *ngIf='invitado.estado === 0' class="badge badge-primary" id="status">Invitation sent</span>
                      <span *ngIf='invitado.estado === 1' class="badge badge-success">Active</span>
                    </div>
                </div>
              </div>

              <button (click)='updateInvitado()'  type="submit" class="btn btn-primary">Update guest</button>

              </form>
        </div>
      </div>
</div>
