<div class="loginpage">
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div *ngIf='this.loginError' class="alert alert-warning" role="alert">
              Login incorrecto!
            </div>
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input [(ngModel)]="this.user"  type="text" name="user"  id="inputEmail" class="form-control" placeholder="Username" required autofocus>
              </div>

              <div class="form-label-group">
                <input [(ngModel)]="this.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="rememberMe">
                <label class="custom-control-label" for="rememberMe">Remember me</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" (click)="clickLogin()" >SIGN IN</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
